<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" enctype="multipart/form-data" method="POST">
        <h1>Ajout Agence</h1>
        {{form.hidden_tag()}}
        <div>{{ form.nom.label }}{{ form.nom }}</div>
        <div>{{ form.photo.label }}{{ form.photo }}</div>
        <div>{{ form.tel.label }}{{ form.tel }}</div>
        <div>{{ form.mail.label }}{{ form.mail }}</div>
        <div>{{ form.nomSite.label }}{{ form.nomSite }}</div>
        <div>{{ form.urlSite.label }}{{ form.urlSite }}</div>
        <div>{{ form.submit }}</div>
    </form>
</body>
</html>