<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <h1>CONNEXION</h1>
        <div>
            {{form.mail.label}}
            <p>{{form.mail}}</p>
        </div>
        <div>
            {{form.password.label}}
            <p>{{form.password}}</p>
        </div>
        <div>{{form.submit}}</div>
        {% for erro in form.mail.erros %}
            {{erro}}
        {% endfor %}
    </form>
</body>
</html>